<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IITGN Timetable Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1 class="h1">TimeTable Generator<br>2023 Batch</h1>
        <br>
        <br>
        <form class="form-inline" role="submit" method="POST" action="">
            {{ form.hidden_tag() }}
        
            <div class="form-group mx-sm-3 mb-2">
                {{ form.sem.label }}
                {{ form.sem(class="form-control", placeholder="2") }}
            </div>

            <div class="form-group mx-sm-3 mb-2">
                {{ form.roll_num.label }}
                {{ form.roll_num(class="form-control", placeholder="146") }}
            </div>
        
            <button class="btn btn-dark" type="submit">{{ form.submit(class="btn btn-primary") }}</button>
        </form>

        <br>
        <br>
        <br>
        <code><a href="https://github.com/jsmaskeen/TimeTable-Parser" rel="noreferer noopener" target="_blank">Source Code ☠️</a></code>
        <br>
        <code>Made by jsm</code>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>